.clock{
    position:relative;
    height:350px; width:350px;
    margin:0px auto;
    transform:rotate(270deg);
}

#circle-seconds{
    position:absolute;
    top:0;bottom:0;left:0;right:0;
    margin:auto;
    display:block;
}
#circle-minutes{
    position:absolute;
    top:0;bottom:0;left:0;right:0;
    margin:auto;
    display:block;
}
#circle-hours{
    position:absolute;
    top:0;bottom:0;left:0;right:0;
    margin:auto;
    display:block;
}