.container--animOutRight::after,
.container--animOutLeft::after {
  opacity: 1;
}

.container--current {
  position: absolute;
  z-index: 100;
  height: auto;
  opacity: 1;
  pointer-events: auto;
}

.container--animInRight,
.container--animInLeft {
  z-index: 101;
  opacity: 1;
}
.container--animInRight,
.container--animInLeft,
.container--animOutRight,
.container--animOutLeft {
  -webkit-animation-timing-function: cubic-bezier(0.7,0,0.3,1);
  animation-timing-function: cubic-bezier(0.7,0,0.3,1);
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.container--animInRight {
  -webkit-animation-name: animInRight;
  animation-name: animInRight;
}

.container--animInLeft {
  -webkit-animation-name: animInLeft;
  animation-name: animInLeft;
}

.container--animOutRight {
  -webkit-animation-name: animOutRight;
  animation-name: animOutRight;
}

.container--animOutLeft {
  -webkit-animation-name: animOutLeft;
  animation-name: animOutLeft;
}

@-webkit-keyframes animOutLeft {
  from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
  to {
    -webkit-transform: rotate3d(0,0,1,-20deg) translate3d(-100%,0,0);
    opacity: 0;
  }
}

@keyframes animOutLeft {
  from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
  to {
    -webkit-transform: rotate3d(0,0,1,-20deg) translate3d(-100%,0,0);
    transform: rotate3d(0,0,1,-20deg) translate3d(-100%,0,0);
    opacity: 0;
  }
}

@-webkit-keyframes animInRight {
  from {
    -webkit-transform: rotate3d(0,0,1,20deg) translate3d(100%,0,0);
    opacity: 0;
  }
  to {
    -webkit-transform: rotate3d(0,0,1,0deg) translate3d(0,0,0);
  }
}

@keyframes animInRight {
  from {
    -webkit-transform: rotate3d(0,0,1,20deg) translate3d(100%,0,0);
    transform: rotate3d(0,0,1,20deg) translate3d(100%,0,0);
    opacity: 0;
  }
  to {
    -webkit-transform: rotate3d(0,0,1,0deg) translate3d(0,0,0);
    transform: rotate3d(0,0,1,0deg) translate3d(0,0,0);
  }
}

@-webkit-keyframes animOutRight {
  from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
  to {
    -webkit-transform: rotate3d(0,0,1,20deg) translate3d(100%,0,0);
    opacity: 0;
  }
}

@keyframes animOutRight {
  from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
  to {
    -webkit-transform: rotate3d(0,0,1,20deg) translate3d(100%,0,0);
    transform: rotate3d(0,0,1,20deg) translate3d(100%,0,0);
    opacity: 0;
  }
}

@-webkit-keyframes animInLeft {
  from {
    -webkit-transform: rotate3d(0,0,1,-20deg) translate3d(-100%,0,0);
    opacity: 0;
  }
  to {
    -webkit-transform: rotate3d(0,0,1,0deg) translate3d(0,0,0);
  }
}

@keyframes animInLeft {
  from {
    -webkit-transform: rotate3d(0,0,1,-20deg) translate3d(-100%,0,0);
    transform: rotate3d(0,0,1,-20deg) translate3d(-100%,0,0);
    opacity: 0;
  }
  to {
    -webkit-transform: rotate3d(0,0,1,0deg) translate3d(0,0,0);
    transform: rotate3d(0,0,1,0deg) translate3d(0,0,0);
  }
}