

// VARIABLES -----------------------

$em-base: 16px !default;

// COLORS -----------------------
$black: #333333;
$white: #ffffff;
$grey: #eaebed;
$lightGrey: #f2f2f2;
$textGrey:#999999;

$mainBackground: #1a232d;
$clock: #1b516a;
$digitalClock: #CFE6CE;
$green: #7fc481;




// FONTS -----------------------
$open: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-con: 'Roboto Condensed', sans-serif;






// MIXINS -----------------------
@mixin breakpoint($size) { 
 @media screen and (max-width: $size) { @content; } 
}

// MIXINS -----------------------
@mixin breakpoint($size) { 
 @media screen and (max-width: $size) { @content; } 
}

@mixin rotate($degree){
  -webkit-transform: rotate($degree);
  -moz-transform: rotate($degree);
  -ms-transform: rotate($degree);
  -o-transform: rotate($degree);
  transform: rotate($degree);
}
@mixin rotateX($degree){
  -webkit-transform: rotateX($degree);
  -moz-transform: rotateX($degree);
  -ms-transform: rotateX($degree);
  -o-transform: rotateX($degree);
  transform: rotateX($degree);
}

@mixin trans($sec){
  -webkit-transition: all ($sec) ease-in-out;
  -moz-transition: all ($sec) ease-in-out;
  -o-transition: all ($sec) ease-in-out;
  transition: all ($sec) ease-in-out;
}

@mixin textCol($col, $gap){
  -moz-column-count:$col; /* Firefox */
  -webkit-column-count:$col; /* Safari and Chrome */
  column-count:$col;
  -moz-column-gap:$gap; /* Firefox */
  -webkit-column-gap:$gap; /* Safari and Chrome */
  column-gap:$gap;
}

@mixin placeholderText($color){
  input::-webkit-input-placeholder {color: $color;}
  input:-moz-placeholder {color: $color;}
  input::-moz-placeholder {color: $color;}
  input:-ms-input-placeholder {color: $color;}
  input:focus::-webkit-input-placeholder {color: #c1272d;}
  input:focus:-moz-placeholder {color: #c1272d;}
  input:focus::-moz-placeholder {color: #c1272d;}
  input:focus:-ms-input-placeholder {color: #c1272d;}
}
@mixin placeholderTextInput($color){
  input:focus::-webkit-input-placeholder {color: $color;}
  input:focus:-moz-placeholder {color: $color;}
  input:focus::-moz-placeholder {color: $color;}
  input:focus:-ms-input-placeholder {color: $color;}
}

@mixin perspective($val){
  -webkit-perspective: $val;
  -moz-perspective: $val;
  -ms-perspective: $val;
  -o-perspective: $val;
}




// FUNCTIONS -----------------------
// It strips the unit of measure and returns it
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// Converts px to em passed from 'cem'
@function convert-to-em($value, $base-value: $em-base)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1em;
  @if ($value == 0em) { $value: 0; } // Turn 0em into 0
  @return $value;
}

// call this to convert pixels to em - even lists of px
@function cem($values, $base-value: $em-base) {
  $max: length($values); // Get the total number of parameters passed
  
  @if $max == 1 { @return convert-to-em(nth($values, 1), $base-value); }

  $emValues: (); // This will eventually store the converted $values in a list
  @for $i from 1 through $max {
    $emValues: append($emValues, convert-to-em(nth($values, $i), $base-value));
  }
  @return $emValues;
}
