/*

  dfree.me version 2.0

  based on HTML5  Boilerplate v4.3 beta [09.10.2013]
  https://github.com/h5bp/html5-boilerplate

  Site Development by Gigantc
  Developer: Daniel Freeman [@dFree]

  Notes
  - Framework: HTML5 Boilerplate CSS: h5bp.com/css

*/


/*// IMPORTS ----------------------- */

@import "normalize",
        "variables",
        "clock",
        "fonts",
        "slide_animations";



/*// HTML5 BOILERPLATE ----------------------- */

html,button,input,select,textarea {color: #222;}
body {font-size: 1em;line-height: 1.4;}
::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection {background: #b3d4fc;text-shadow: none;}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,canvas,img,video {vertical-align: middle;}
fieldset {border: 0;margin: 0;padding: 0;}
textarea {resize: vertical;}
.browsehappy {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}



/*// PRIMARY STYLES ----------------------- */

html,body{
  width:100vw; height:100vh;
  letter-spacing: 1px;
  overflow:hidden;
  background-color:$mainBackground;
}

a{text-decoration:none;}

.container{
  position:relative;
  width:100%; height:100vh;
  color:$clock;
  font-family: $roboto;
  font-weight:300;
  background-size: cover;
  overflow:hidden;
}

.title{
  position:absolute;
  top:0px; right:20px;
  width:210px; height:57px;
  border-bottom:1px solid #395061;
  text-transform: uppercase;
  p{
    color:$lightGrey;
    font: 300 18px $roboto-con;
    letter-spacing: 2px;
  }
}


/*// MAIN ----------------------- */
.main{
  position:relative;
  overflow:hidden;
  height:100vh; width:100%;

  /*// DASHBOARD ----------------------- */
  .dashboard{
    position:absolute;
    top:0;bottom:0;left:0;right:0;
    margin:auto;
    height:570px;
    overflow:visible;
    .clock{
      position:relative;
      width:100%;
    }
    .time{
      position:relative;
      font:100 10vw $roboto;
      color:$digitalClock;
      text-align:center;
      letter-spacing: 13px;
    }
    .date{
      font:2vw $roboto;
      font-weight:300;
      color:$clock;
      letter-spacing: 4px;
      text-transform: uppercase;
      text-align:center;
    }
  }


  /*// FEEDS ----------------------- */
  .feeds{
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    opacity:0;
    margin:100px 0px 0px 0px;
    overflow-y:scroll;
    overflow-x:hidden;
    @include trans(0.2s);
    .set{
      float:left;
      width:calc(33% - 100px);
      height:auto;
      padding:35px 50px 5px 50px;
      opacity:1;
      @include trans(0.2s);
    }
    h2{
      font:16px/16px $roboto-con;
      color:$lightGrey;

    }
    h3, a{
      font:12px/18px $roboto;
      color:$lightGrey;
      opacity:0.8;
    }
  }


  /*// FEEDS ----------------------- */
  .links{
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    opacity:0;
    margin:100px 0px 0px 0px;
    overflow-y:scroll;
    overflow-x:hidden;
    h3, a{
      font:12px/18px $roboto;
      color:$lightGrey;
      opacity:0.8;
    }
  }


}


/*// MENU ----------------------- */
ul{
  position:absolute;
  top:0; left:0;
  width:100%; height:20px;
  list-style-type: none;
  background-color:$mainBackground;
  padding:25px 0px 25px 25px;
  margin:0px;
  border-bottom:1px solid rgba(255,255,255,0.05);
  li{
    float:left;
    margin:0px 15px 0px 0px;
  }
  .btn{
    cursor:pointer;
  }
}
.refresh{
  position:absolute;
  top:25px; right:20px;
  display:none;
  opacity:0;
  cursor:pointer;
}




/*// Helper classes and Print Styles ----------------------- */

.ir {background-color: transparent;border: 0;overflow: hidden;*text-indent: -9999px;}
.ir:before {content: "";display: block;width: 0;height: 150%;}
.hidden {display: none !important;visibility: hidden;}
.visuallyhidden {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {clip: auto;height: auto;margin: 0;overflow: visible;position: static;width: auto}
.invisible {visibility: hidden;}
.clearfix:before,
.clearfix:after {content: " "; /* 1 */display: table; /* 2 */}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}




/*// Print Styles --------- */

@media print {
    * {background: transparent !important;color: #000 !important;box-shadow: none !important;text-shadow: none !important;}
    a,
    a:visited {text-decoration: underline;}
    a[href]:after {content: " (" attr(href) ")";}
    abbr[title]:after {content: " (" attr(title) ")";}
.ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";}
    pre,blockquote {border: 1px solid #999;page-break-inside: avoid;}
    thead {display: table-header-group;}
    tr,img {page-break-inside: avoid;}
    img {max-width: 100% !important;}
    @page {margin: 0.5cm;}
    p,h2,h3 {orphans: 3;widows: 3;}
    h2,h3 {page-break-after: avoid;}
}